.Rproj.user
.Rhistory
.RData
.Ruserdata

*.html
*.zip
*.csv
*.parquet
*.pdf
*.tif
*.gpkg
*.xlsx
*.Rproj

older

data
data-raw

qmd/_qmd_older
fishydata.Rproj
*.log
_freeze
_site
garbage
docs
index_cache
index_files

/.quarto/
.positai
