.Rproj.user
.Rhistory
.RData
.Ruserdata

*.html
*.zip
*.csv
*.pdf
*.tif

scripts/older

data
data-raw/depth
data-raw/gear
data-raw/gfw
data-raw/logbooks
data-raw/harbours
data-raw/older
data-raw/vessels
data-raw/whales
data-raw/datamodel
data-raw/EUSeaMap_2023.zip
data-raw/stk_mobile_match-and-duals/older
data-raw/ASTD_Cut
data-raw/ASTD_area
data-raw/DATASET_icesVocab.R
qmd/_qmd_older
fishydata.Rproj
*.log
_freeze
_site
garbage
docs
index_cache
index_files
*.zip

/.quarto/
